
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons big-icon">flash_on</i></h2>
                    <h5 class="center">Speeds up finding help</h5>
                    <p class="light">We did most of the heavy lifting for you by creating and API that is accessable by other
                    applcations. Wheather you are a end user or a developer, this is for you!</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons big-icon">group</i></h2>
                    <h5 class="center">User friendly!</h5>
                    <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that
                    incorporates components and animations that provide more feedback to users. Additionally, a single underlying
                    responsive system across all platforms allow for a more unified user experience.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons big-icon">settings</i></h2>
                    <h5 class="center">Ease of use</h5>
                    <p class="light">We have provided detailed documentation of our API to help developers get started. We are also
                    always open to feedback and can answer any questions a user may have about Materialize.</p>
                </div>
            </div>
        </div>
    </div><br>
    <br>
    <div class="section"></div>
</div>
