<nav class="" role="navigation" style="background-color: #0058FF">
    <div class="nav-wrapper container">
        <a class="brand-logo" href="#" id="logo-container">Tuber</a>
        <ul class="right hide-on-med-and-down">
            <% if (user) {%>
              <li><a class='dropdown-button' data-activates='dropdown1' href='#'><%= user.local.email || user.facebook.email %></a></li>
            <% } %>
            <li>
                <a href="/api">API</a>
            </li>
        </ul>
        <ul class="side-nav" id="nav-mobile">
            <li style="list-style: none"><br></li>
            <li class="center">
                <a href="/api">API</a>
            </li>
        </ul><a class="button-collapse" data-activates="nav-mobile" href="#"><i class="material-icons">menu</i></a>
    </div>
</nav>
