<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0" name="viewport">
    <title>Tuber</title><!-- CSS  -->
    <!--This is used for mother fucking jquery bitches-->

    <script charset="utf-8" src="jquery/dist/jquery.js">
    </script><!--This is used for mother fucking material design from google bitches=-->
    <link charset="utf-8" href="Materialize/bin/materialize.css" media="screen" rel="stylesheet" title="no title">
    <!-- The templar knights when they took jerusalem niggah-->

    <script charset="utf-8" src="Materialize/bin/materialize.js">
    </script><!--Google icons because fuck you=-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link charset="utf-8" href="css/prism.css" media="screen" rel="stylesheet" title="no title">
</head>
<body>
    <nav class="" role="navigation" style="background-color: #0058FF">
        <div class="nav-wrapper container">
            <a class="brand-logo" href="/" id="logo-container">Tuber</a>
            <ul class="right hide-on-med-and-down">
                <%if (user) { %>
                <li>
                    <a class='dropdown-button' data-activates='dropdown1' href='#'><%= user.local.email || user.facebook.email %></a>
                </li><!-- Dropdown Structure -->
                <li style="list-style: none; display: inline">
                    <ul class='dropdown-content' id='dropdown1' style="margin-top: 65px;">
                        <li>
                            <a class=" blue white-text" href="/profile">Profile</a>
                        </li>
                        <li>
                            <a class="red white-text" href="/logout">Logout</a>
                        </li>
                    </ul><%} %>
                </li>
                <li>
                    <a href="/api">API</a>
                </li>
            </ul>
            <ul class="side-nav" id="nav-mobile">
                <li style="list-style: none"><br></li>
                <li class="center">
                    <a href="/api">API</a>
                </li>
            </ul><a class="button-collapse" data-activates="nav-mobile" href="#"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="container">
        <h3>Tuber API</h3>
        <hr>
        <h5><b>GET</b></h5>
        <pre><code class="http"> http://tuber.tech/api </code></pre>
        <p style="text-indent: 50px;"><b>This returns the Tuber API documentation</b></p>
        <hr>
        <h5><b>POST</b></h5>
        <pre><code class="http"> http://tuber.tech/api/signin </code></pre>
        <ul style="text-indent: 50px;">
            <li><b>Authenticates a new user and logs them in automatically</b></li>
            <li style="list-style: none"><br></li>
            <li><code class="http">?firstname=[FIRST_NAME]</code></li>
            <li><code class="http">?lastname=[LAST_NAME]</code></li>
            <li><code class="http">?username=[USERNAME]</code></li>
            <li><code class="http">?password=[PASSWORD]</code></li>
            <li><code class="http">?email=[EMAIL]</code></li>
            <li><code class="http">?phone=[PHONE]</code></li>
            <li><code class="http">?birthday=[BIRTHDAY]</code></li>
        </ul>
        <hr>
        <h5><b>POST</b></h5>
        <pre><code class="http"> http://tuber.tech/api/authenticate </code></pre>
        <ul style="text-indent: 50px;">
            <li><b>Authenticates an existing user</b></li>
            <li style="list-style: none"><br></li>
            <li><code class="http">?username=[USERNAME]</code></li>
            <li><code class="http">?password=[PASSWORD]</code></li>
        </ul>
        <hr>
        <h5><b>GET</b></h5>
        <pre><code class="http"> http://tuber.tech/api/profile </code></pre>
        <ul style="text-indent: 50px;">
            <li><b>Returns the currently logged in user</b></li>
        </ul>
        <hr>
        <h5><b>GET</b></h5>
        <pre><code class="http"> http://tuber.tech/api/profile/:id </code></pre>
        <ul style="text-indent: 50px;">
            <li><b>Returns just one user</b></li>
            <li style="list-style: none"><br></li>
        </ul>
        <hr>
        <h5><b>POST</b></h5>
        <pre><code class="http"> http://tuber.tech/api/profile </code></pre>
        <ul style="text-indent: 50px;">
            <li><b>Allows the user to update their profile</b></li>
            <li style="list-style: none"><br></li>
            <li><code class="http">?lastname=[LAST_NAME]</code></li>
            <li><code class="http">?username=[USERNAME]</code></li>
            <li><code class="http">?password=[PASSWORD]</code></li>
            <li><code class="http">?email=[EMAIL]</code></li>
            <li><code class="http">?phone=[PHONE]</code></li>
            <li><code class="http">?birthday=[BIRTHDAY]</code></li>
        </ul>
        <hr>
        <h5><b>POST</b></h5>
        <pre><code class="http"> http://tuber.tech/api/profile/:id </code></pre>
        <ul style="text-indent: 50px;">
            <li><b>Allows somone to rate a user</b></li>
            <li style="list-style: none"><br></li>
            <li><code class="http">?rating=[RATING]</code></li>
        </ul>
        <hr>
        <h5><b>GET</b></h5>
        <pre><code class="http"> http://tuber.tech/api/tutors </code></pre>
        <ul style="text-indent: 50px;">
            <li><b>Returns all tutors. To be sorted by the API consumer</b></li>
            <li style="list-style: none"><br></li>
        </ul>
        <hr>
        <h5><b>GET</b></h5>
        <pre><code class="http"> http://tuber.tech/api/classes </code></pre>
        <ul style="text-indent: 50px;">
            <li><b>Returns classes based on a search query</b></li>
            <li style="list-style: none"><br></li>
            <li>?title=[TITLE]</li>
            <li>?category=[CATEGORY]</li>
            <li>?title=[TITLE]&category=[CATEGORY]</li>
        </ul>
        <hr>
        <h5><b>POST</b></h5>
        <pre><code class="http"> http://tuber.tech/api/classes </code></pre>
        <ul style="text-indent: 50px;">
            <li><b>Creates a new class for users to tutor/be tutored in</b></li>
            <li style="list-style: none"><br></li>
            <li>?title=[TITLE]</li>
            <li>?category=[CATEGORY]</li>
        </ul>
        <hr>
        <h5><b>POST</b></h5>
        <pre><code class="http"> http://tuber.tech/api/classes/:id </code></pre>
        <ul style="text-indent: 50px;">
            <li><b>Updates one class</b></li>
            <li style="list-style: none"><br></li>
            <li>?title=[TITLE]</li>
            <li>?category=[CATEGORY]</li>
        </ul>
        <hr>
        <h5><b>DELETE</b></h5>
        <pre><code class="http"> http://tuber.tech/api/classes/:id </code></pre>
        <ul style="text-indent: 50px;">
            <li><b>Deletes a class</b></li>
            <li style="list-style: none"><br></li>
        </ul><br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <script type="text/javascript">
    $('.parallax').parallax();
    $(".button-collapse").sideNav();
    $('.modal-trigger').leanModal();
    </script>
    <script charset="utf-8" src="js/prism.js">
    </script>
</body>
</html>
