<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Tuber</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="Materialize/bin/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

  <nav  role="navigation" style="background-color: #0058FF">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo white-text">Tuber</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="white-text" href="/api">API</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <br>
        <li><a href="/api">API</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons white-text">menu</i></a>
    </div>
  </nav>
  <br><br>

  <h4 class="center">Sign Up!</h4>

  <div class="container">
    <div class="row">
       <form class="col s12" action="/signup" method="POST">
         <div class="row">

           <div class="input-field col s6" >
             <input placeholder="Juan" id="first_name" type="text" class="validate" name="first">
             <label for="first_name">First Name</label>
           </div>

           <div class="input-field col s6">
             <input placeholder="Ruelas" id="last_name" type="text" class="validate" name="last">
             <label for="last_name">Last Name</label>
           </div>

         </div>

         <div class="row">
           <div class="input-field col s12">
             <input placeholder="example@domain.com" id="email" type="email" class="validate" name="email">
             <label for="email">Email</label>
           </div>
         </div>

         <div class="row">
           <div class="input-field col s12">
             <input placeholder="username" id="email" type="text" class="validate" name="username">
             <label for="email">Username</label>
           </div>
         </div>

         <div class="row">
           <div class="input-field col s12">
             <input placeholder="*********" id="password" type="password" class="validate" name="password">
             <label for="password">Password</label>
           </div>
         </div>

         <div class="row">
           <div class="col s12">
             <button class="btn waves-effect waves-light" style="background-color: #0058FF" type="submit" name="action">Sign Up
               <i class="material-icons right">send</i>
             </button>
           </div>
         </div>
       </form>
     </div>
  </div>


  <footer class="page-footer" style="background-color: #0058FF">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>

          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="www.ruelas.me">ruelas.me</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="www.ruelas.me">Juan G Ruelas Jr.</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="jquery/dist/jquery.js" charset="utf-8"></script>
  <script src="Materialize/bin/materialize.js" charset="utf-8"></script>
  <script src="js/init.js"></script>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 class="center" > Sign In</h4>
      <%- include('partials/_index_modal.ejs')%>
  </div>

  <script type="text/javascript">
    $('.modal-trigger').leanModal();
  </script>

  <style media="screen">
    b {
       -webkit-text-stroke: 1px black;
       color: white;
       text-shadow:
           3px 3px 0 #000,
         -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
       1px 1px 0 #000;
     }



  </style>




  </body>
</html>
