<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Tuber</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="Materialize/bin/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <% include('partials/_google.ejs') %>
</head>
<body>
  <nav  role="navigation" style="background-color: #0058FF">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo white-text">Tuber</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#modal1" class="modal-trigger white-text" >Login</a></li>
        <li><a class="white-text" href="/api">API</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <br>
        <li><a href="#modal1" class="modal-trigger" >Login</a></li>
        <li><a href="/api">API</a></li>
      </ul>
      <a href="" data-activates="nav-mobile" class="button-collapse"><i class="material-icons white-text">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container one">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><img class="logo" src="images/tuber.png" alt="" /></h1>
        <div class="row center">
          <h5 class="header col s12 light"><b >Uber, but for tutors</b></h5>
        </div>
        <div class="row center">
          <a href="/get-started" id="download-button" class="btn-large waves-effect waves-light" style="background-color: #0058FF" >Get Started</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img class="landing-img" src="images/ucm.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Be more productive</h5>

            <p class="light">We did most of the heavy lifting for you to provide both the user and the developer access to the data they need! Additionally, we added a facebook login to streamline the process of getting started!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Connect with those you need!</h5>

            <p class="light">By utilizing our API you can create more connections and get more data faster than ever before!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation for developers as well as creating a simple and smooth UI for users to browse potential tutors</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><b>Getting an A+ has never been so easy!</b></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img class="landing-img" src="images/tutor.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="center light">We would love hear from you and get more feedback! email us at <a href="#">hello@tuber.com</a></p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><b>A modern solution to an archaic problem</b></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img class="landing-img" src="images/tutors2.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer" style="background-color: #0058FF">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>

          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            Made by
            <li>
                <a class="white-text text-lighten-3 author" href="www.ruelas.me">Juan G Ruelas Jr.</a>
            </li>

            <li>

                <a class="white-text text-lighten-3 author" href="www.ruelas.me">Gene Panferov</a>
            </li>

            <li>
                <a class="white-text text-lighten-3 author" href="www.ruelas.me">Maxime Moison</a>
            </li>

            <li>
                <a class="white-text text-lighten-3 author" href="www.ruelas.me">Mohit Veligenti </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">

      </div>

    </div>
  </footer>


  <!--  Scripts-->
  <script src="jquery/dist/jquery.js" charset="utf-8"></script>
  <script src="Materialize/bin/materialize.js" charset="utf-8"></script>
  <script src="js/init.js"></script>

  <div id="modal1" class="modal" style="overflow: hidden">
    <div class="modal-content">
      <h5 class="center" > Sign In</h5>
      <!-- <%- include('partials/_index_modal.ejs')%> -->
      <%- include('partials/_login_modal.ejs')%>
    </div>
  </div>

  <script type="text/javascript">
    $('.modal-trigger').leanModal();
  </script>

  <style media="screen">
    b {
       -webkit-text-stroke: 1px black;
       color: white;
       text-shadow:
           3px 3px 0 #000,
         -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
       1px 1px 0 #000;
     }

     .fb-login-nav {
       background: #4460D9;

     }
     .fb-login-nav:hover,.fb-login-nav:active{
       background: #44609D;
     }

  </style>


  </body>
</html>
