<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0" name="viewport">
    <title>Tuber</title><!-- CSS  -->
    <!--This is used for mother fucking jquery bitches-->

    <script charset="utf-8" src="jquery/dist/jquery.js">
    </script><!--This is used for mother fucking material design from google bitches=-->
    <link charset="utf-8" href="Materialize/bin/materialize.css" media="screen" rel="stylesheet" title="no title">
    <!-- The templar knights when they took jerusalem niggah-->

    <script charset="utf-8" src="Materialize/bin/materialize.js">
    </script><!--Google icons because fuck you=-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="" role="navigation" style="background-color: #0058FF">
        <div class="nav-wrapper container">
            <a class="brand-logo" href="#" id="logo-container">Tuber</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/api">API</a>
                </li>
            </ul>
            <ul class="side-nav" id="nav-mobile">
                <li style="list-style: none"><br></li>
                <li class="center">
                    <a href="/api">API</a>
                </li>
            </ul><a class="button-collapse" data-activates="nav-mobile" href="#"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br>
            <br>
            <h1 class="header center orange-text"><img alt="" src="images/tuber.png"></h1>
            <div class="row center">
                <h5 class="header col s12 bold white-text">Uber, but for tutors</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img class="parallax-img" src="images/ucm.jpg"></div><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons big-icon">flash_on</i></h2>
                        <h5 class="center">Speeds up finding help</h5>
                        <p class="light">We did most of the heavy lifting for you by creating and API that is accessable by other
                        applcations. Wheather you are a end user or a developer, this is for you!</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons big-icon">group</i></h2>
                        <h5 class="center">User friendly!</h5>
                        <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that
                        incorporates components and animations that provide more feedback to users. Additionally, a single underlying
                        responsive system across all platforms allow for a more unified user experience.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons big-icon">settings</i></h2>
                        <h5 class="center">Ease of use</h5>
                        <p class="light">We have provided detailed documentation of our API to help developers get started. We are also
                        always open to feedback and can answer any questions a user may have about Materialize.</p>
                    </div>
                </div>
            </div>
        </div><br>
        <br>
        <div class="section"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header center">Try it out!</h2>
            <p class="grey-text text-darken-3 lighten-3 center">It's free and best of all it will get you that A+!</p>
        </div>
    </div><br>
    <br>
    <br>
    <div class="center">
        <div class="row center">
            <a class="btn-large waves-effect waves-light modal-trigger" href="#modal1" id="download-button" style=
            "background-color: #0058FF">Get Started</a>
        </div>
    </div><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer class="page-footer" style="background-color: #0058FF">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Tuber</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time
                    job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="www.ruelas.me">Juan Ruelas Personal Website</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by some dope kids
            </div>
        </div>
    </footer><!-- Modal Structure -->
    <div class="modal" id="modal1">
        <div class="modal-content">
            <h4 class="center">Login</h4><%- include('partials/_index_modal.ejs')%>
        </div>
        <div class="modal-footer">
            <a class=" modal-action modal-close waves-effect waves-green btn-flat" href="#!">Agree</a>
        </div>
    </div>
    <style media="screen">
    .big-icon {
      font-size: 120px;
      color: #0058FF;
    }
    .parallax-img {
      max-width: 1000px;
    }

    </style>
    <script type="text/javascript">
    $('.parallax').parallax();
    $(".button-collapse").sideNav();
    $('.modal-trigger').leanModal();
    </script>
</body>
</html>
